.country{
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}
.countryCard{
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 10px;
}
body {
    margin: 0;
  }
.input-container {
    
    width: 100%; 
    display: flex;
    justify-content: center; /* Centers the input box horizontally */
    top: 30px; 
  }
  
  .search {
    padding: 10px;
    font-size: 16px;
    width: 300px; /* Adjust width as needed */
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }